/* Monitor Size 19 inch */
/*Container Width*/
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1194px;
    padding-left: 20px !important;
  }
}

@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
    padding-left: 150px;
}
}

/* Laptop Device */
@media (max-width: 990px) {
  .sidebar {
    right: -500px;
  }
  .sidebar.active {
    right: 0px;
    width: 330px;
  }

  .bars {
    display: flex;
    z-index: 1;
  }
  .close {
    display: flex;
    background-color: var(--btn-color);
    position: absolute;
    top: 10px;
    right: 125px;
    z-index: 100;
  }

  .profile {
    display: none;
  }

  .copy_right {
    display: none;
  }

  .home .container {
    flex-direction: row;
  }

  .home_content {
    max-width: 100%;
  }
  .social {
    width: 100%;
    flex-direction: row;
    left: 105px;
    top: 400px;
  }
  .social a {
    margin-right: 1rem;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .social {
    left: 38px;
    top: 248px;
  }
}

@media (max-width: 520px) {
  .bars,
  .close {
    right: 40px;
  }

  .social {
    top: 150px;
    left: 10px;
  }

  .progressbar-item {
    width: 100%;
  }
  iframe{
    width: 100%;
  }

  .home_content h3 {
    margin-top: 1rem;
}

.home_content p {
    margin-bottom: 0px;
}
}
